---
layout: layouts/base.liquid
---
<div class="mx-6 mt-8">
  <div class="max-w-none prose-sm md:lead-1 prose prose-a:hover:text-red-600 md:prose-lg dark:text-gray-300 dark:prose:text-gray-300 dark:prose-a:text-gray-300 dark:prose-a:hover:text-black dark:prose-headings:text-gray-300">
    {{ content }}
  </div>
</div>
