{% extends "layouts/base.twig" %}

<div class="min-h-screen flex flex-col">
  <main class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-md mx-auto">
    {% include "partials/header.twig" %}
    {% block body %}
      {{ content|raw }}
    {% endblock %}
    {% include "partials/footer.twig" %}
  </main>
</div>
