---
layout: layouts/base.liquid
---
{% for post in collections.posts %}
  {% if post.data.page.url == page.url  %}
    {% assign nextPageURL =  post.data.nextPost %}
    {% assign previousPageURL =  post.data.previousPost %}
    {% assign publishedDate = post.date %}
    {% assign modifiedDate = post.data.lastmod %}
    {% assign categories = post.data.categories %}
    {% assign thisPost = post %}
  {%  endif %}
 {% endfor %}

 <div class="content">
  {% render "partials/post-meta-dates.liquid", page: page, post: thisPost %}

  <h1>{{ title }}</h1>

  {% render "partials/post-meta-tax.liquid", page: page, post: thisPost, postsByCategories: collections.postsByCategories %}

  <div class="prose">
    {{ content }}
  </div>

  <div class="page-nav">
      {% if previousPageURL %}
        <div>
          <a href="{{ previousPageURL }}" aria-label="Newer Post" role="button"><i class="bi bi-caret-left-fill"></i>Newer Post</a>
        </div>
      {% else %}
        <div class="inactive">
          <span aria-label="Newer Post" role="button" aria-disabled="true"><i class="bi bi-caret-left-fill"></i>Newer Post</span>
        </div>
      {% endif %}

      {% if nextPageURL %}
        <div>
          <a href="{{ nextPageURL }}" aria-label="Older Post" role="button">Older Post<i class="bi bi-caret-right-fill"></i></a>
        </div>
      {% else %}
        <div>
          <span aria-label="Older Post" role="button" aria-disabled="true">Older Post<i class="bi bi-caret-right-fill"></i></span>
        </div>
      {% endif %}
  </div>
</div>
