figcaption {
  text-align: center !important;
  font-size: 0.85rem;
  margin-top: 0 !important;
}

@theme {
  --font-sans: "PT Sans", "sans-serif";
  --font-serif: "PT Serif", "serif";
}

@custom-variant dark (&:where(.dark, .dark *));
