---
layout: layouts/base.liquid
title: Categories
---

<h1>{{title}}</h1>

{% assign categoryData = collections.postsByCategories[0].categoryData %}

<h2>Paginated posts by Category</h2>
<ul>
  {% for category in categoryData %}
  <li>
    <a href="{{ category[1].slug }}" class="">{{ category[1].name }}</a>
  </li>
  {% endfor %}
</ul>
