---
layout: layouts/base.liquid
title: Categories
---

<div class="content taxonomy">
  <h1 class="heading">{{ title }}</h1>

  {% assign categoryData = collections.postsByCategories[0].categoryData %}

  <ul class="mt-6 ml-6">
    {% for category in categoryData %}
    <li class="pb-4 text-lg md:text-2xl hover:text-red-600 dark:text-gray-300 dark:hover:text-black">
      <a href="{{ category[1].slug }}" class="">{{ category[1].name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
