---
layout: layouts/base.liquid
title: Categories
---

<div class="content taxonomy">
  <h1 class="heading">{{ title }}</h1>

  {% assign categoryData = collections.postsByCategories[0].categoryData %}

  <ul>
    {% for category in categoryData %}
    <li>
      <a href="{{ category[1].slug }}" class="">{{ category[1].name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
