---
layout: layouts/base.vto
title: Categories
---

<div class="content taxonomy">
  <h1 class="heading">{{ title }}</h1>

  {{ set categoryData = collections.postsByCategories[0].categoryData }}
  {{ set categoriesArray = Object.values(categoryData) |> sort((a, b) => a.name.localeCompare(b.name)) }}

  <ul>
    {{ for category of  categoriesArray }}
      <li>
        <a href="{{ category.slug }}">{{ category.name }}</a>
      </li>
    {{ /for }}
  </ul>
</div>
