---
title: Home
pagination:
  data: collections.posts
  size: 4
  alias: posts
layout: layouts/base.liquid
---

<div class="break-after-column">
  {% for post in posts %}
    <div class="mx-8 mb-12">
      {% render "partials/post-meta-dates.liquid", page: page, post: post %}

      <h2><a class="r-article-title hover:text-primary-highlight" href="{{ post.url }}">{{ post.data.title }}</a></h2>

      {% render "partials/post-meta-tax.liquid", page: page, post: post, postsByCategories: collections.postsByCategories %}

      <div class="r-content">
        {{ post.data.post_excerpt | markdown }}
      </div>
    </div>
  {% endfor %}

  {% render "partials/pagination.liquid", pagination: pagination, page: page %}

</div>
