---
layout: layouts/base.liquid
title: Tags
---

<div class="content taxonomy">
  <h1 class="heading">{{ title }}</h1>

  <ul class="mt-6 ml-6">
    {% for tag in collections.tagList %}
     <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>
