---
layout: layouts/base.vto
title: Tags
pagination:
  data: collections.tagList
  size: 10
  alias: tags
---

<div class="content taxonomy">
  <h1 class="heading">{{ title }}</h1>

  <ul class="mt-6 ml-6">
    {{ for tag of tags }}
     <li><a href="/tags/{{ tag |> slugify }}">{{ tag }}</a></li>
    {{ /for }}
  </ul>

  {{ include "partials/pagination.liquid" { pagination: pagination, page: page } }}
</div>
