@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "./assets/css/lightbox.css";
@import "./assets/css/syntax.css";
@import "./assets/css/styles.css";

@plugin "@tailwindcss/typography";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --font-sans: "PT Sans", "sans-serif";
  --font-serif: "PT Serif", "serif";
}

@custom-variant dark (&:where(.dark, .dark *));
