<div class="text-xs md:text-sm mb-3 mt-1">
  {{ post.date | postDate }}

  {% assign modifiedDate = post.data.lastmod %}
  {% if modifiedDate %}
    &nbsp;&nbsp;Updated: {{ modifiedDate | postDate }}
  {% endif %}

  {% for category in post.data.categories %}
    &nbsp;&nbsp;&nbsp;&nbsp;About: {{ category }}
  {% endfor %}
</div>
